body.toplevel_page_ceceppaml-language-page {
  overflow-y: scroll;
}

.cml-zoomed {
  background: #fff;
  opacity: 1 !important;
  z-index: 1001 !important;
  position: relative;
}
  span.cml-zoomed {
    /*background-color: #fff !important;*/
  }

  #save_menu_header.cml-zoomed {
    background-color: #2EA2CC !important;
  }

label.cml-disabled {
  color: #898989;
}
  label.cml-disabled > span {
    color: #593F3F;
    display: block;
    margin-left: 22px;
  }

.cml-indent {
  display: block;
  color: #666;
  margin-left : -10px;
}

.cml-ul-list li:before {
  content: '\203A';
  color: #888;
  margin-left: 5px;
  margin-right: 5px;
}

.cml-separator {
  color: #000;
  color: #6ACAF0;
  cursor: default !important;
  font-size: 0.8em;
  margin-bottom: -5px;
  text-transform: uppercase;
}

  li .cml-separator-li {
    background: #222;
    min-height: 24px;
  }

.hndle > span > .cml-checkbox {
  margin-left: -25px;
  margin-bottom: 0;
}

.ui-sortable-placeholder { border: 1px dashed #000; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.cml-submit-button {
  float: right;
}

  .cml-submit-button > .wpspinner {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  .cml-submit-button > .wpspinner + p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
  }

.ceceppaml-metabox span,
.ceceppaml-metabox dl {
  font-weight: normal;
}
.ceceppaml-metabox h3 {
  cursor: default !important;
}

.cml-checkbox {
  display: inline-block;
  margin: 0 0 10px 30px;
  position: relative;
  padding-right: 10px;
}

  #minor-publishing .cml-checkbox {
    margin-left: 0;
  }

  .cml-conditions .cml-checkbox {
    margin-left: 10px;
  }

  .cml-checkbox input[type="checkbox"]  {
     display: none;
  }

  .cml-checkbox input + label {
     position: relative;
  }

  .cml-checkbox input[type="checkbox"] + label > span {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
    display: block;
    border:1px solid #C4C4C4;
    border-right: 1px solid #AF5C4A;
    border-radius: 2px;
    cursor: pointer;
    line-height: 16px;
    width: 20px;
    height: 18px;
    overflow: hidden;
    text-align: center;
    color: #c6c6c6;
    position: absolute;
    left: -10px;
    top: -3px;
    transition: all 0.2s ease;
  }

  .cml-checkbox input[type="checkbox"]:checked + label > span {
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #7D9853;
    left: 18px;
  }

  .cml-checkbox input[type="checkbox"] + label:before {
     content: '\2713';
     color: #75443D;
     display: inline-block;
     width: 17px;
     text-align: center;
     line-height: 16px;
     text-shadow: 0px 0px 1px #fff;
  }
  .cml-checkbox input[type="checkbox"]:checked + label:before {
     opacity: 1;
  }

  .cml-checkbox input[type="checkbox"] + label:after {
     content: '\2715';
     display: inline-block;
     vertical-align: top;
     color: #475631;
     line-height: 16px;
     text-shadow: 0px 0px 1px #fff;
  }

  .cml-checkbox input[type="checkbox"] + label {
    background: rgb(206,108,97); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,108,97,1) 0%, rgba(222,133,115,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,108,97,1)), color-stop(100%,rgba(222,133,115,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,108,97,1) 0%,rgba(222,133,115,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,108,97,1) 0%,rgba(222,133,115,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,108,97,1) 0%,rgba(222,133,115,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(206,108,97,1) 0%,rgba(222,133,115,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce6c61', endColorstr='#de8573',GradientType=0 ); /* IE6-9 */
    border:1px solid #AF5C4A;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    border:1px solid #89AC5A;
    border-radius: 3px;
    width: 35px;
    height: 14px;
    line-height: 10px;
    transition: all 0.2s ease;
  }

  .cml-checkbox input[type="checkbox"]:checked + label {
    background: rgb(186,192,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(186,192,0,1) 0%, rgba(166,201,109,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,192,0,1)), color-stop(100%,rgba(166,201,109,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(186,192,0,1) 0%,rgba(166,201,109,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(186,192,0,1) 0%,rgba(166,201,109,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(186,192,0,1) 0%,rgba(166,201,109,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(186,192,0,1) 0%,rgba(166,201,109,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac000', endColorstr='#a6c96d',GradientType=0 ); /* IE6-9 */
  }

  .cml-checkbox-label {
    margin-left: 10px;
  }

.cml-donate .handlediv,
.cml-box-options .handlediv,
#cml-box-languages .handlediv,
#cml-box-available-languages .handlediv {
  display: none !important
}

  #cml-box-languages .hndle > span > div > span,
  #cml-box-available-languages .hndle > span > div > span{
    color: #898989;
  }

.cml-box-right {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: -6px;
  position: relative;
}
  .cml-box-mode {
  }
  .cml-box-mode input {
    margin-left: 140px !important;
  }

  .cml-box-right > span {
    line-height: 32px;
    padding-right: 10px;
  }
.cml-combo {
  background: #F2F3FF;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  z-index: 998;
  border-radius: 5px 5px 0 0;
  margin: 2px 0 0 0;
  height: 25px;
}

  .cml-combo:hover {
    height: auto;
  }

  .cml-combo li {
    padding: 5px 5px 1px 3px;
    color: #444;
    cursor: pointer;
    width: 150px;
    margin: 0;
  }
  .cml-combo ul li {
    padding: 10px 5px 10px 3px;
  }

  .cml-combo > li {
    border-bottom: 1px solid #ddd;
  }

  .cml-combo ul li:hover {
    background: #CEE3E1;
    color: #000;
  }

  .cml-box-right > span.spinner {
    display: inline-block;
    opacity: 0;
    padding: 0;
    margin-right: 0;
    float: none;
    position: relative;
    left: 125px;
    z-index: 99999;
  }

  .cml-box-right > input[name="save-all"] {
    margin-top: 1px;
    margin-right: 35px;
    padding:  0 20px 0 20px;
  }

  .cml-lang-help {
    right: 0 !important;
    top: 0 !important;
    border-left: 1px solid #eee;
  }

/* LANGUAGES */
#cml-languages .lang {
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  display: inline-block;
  vertical-align: top;
  background: #fafafa;
  color: #555;
  font-weight: 600;
  border:1px solid #ddd;
  line-height: 14px;
  position: relative;
  margin-right: 10px;
  width: 235px;
}
  #cml-languages .lang {
    color: #fff;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  #cml-languages .lang.active {
    opacity: 1;
  }

  #cml-languages .lang.removed {
    opacity: 0.7;
  }

  #cml-languages .lang > .title {
    background: #8f8f8f;
    border-bottom: 1px solid #00638A;
    width: 227px;
    padding: 5px;
    position: relative;
    height: 15px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    margin-left: -1px;
    margin-top: -1px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
  }
    #cml-languages .lang.active > .title {
      background: #0074A2;
    }
    #cml-languages .lang.removed > .title {
      background: #590000;
    }

    #cml-languages .lang > .title > * {
      display: inline-block;
      vertical-align: top;
    }

    #cml-box-available-languages .lang > .title > img,
    #cml-languages .lang.removed > .title > img {
      display: none;
    }

#cml-languages .lang > .title > .flag {
  border: 1px solid rgba( 255, 255, 255, 0.4 );
  width: 20px;
  height: 14px;
  overflow: hidden;
}

  #cml-languages .lang > .flag > div > img {
  }

#cml-languages .lang > .title > img {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
  #cml-languages .lang > .title > img.default {
    opacity: 0.45;
  }
  #cml-languages .lang > .title > img.active {
    opacity: 1;
  }
  #cml-languages .lang > .title > img:hover {
    opacity: 0.8;
  }

  #cml-languages .lang > .title > .default {
    visibility: hidden;
  }

  #cml-languages .lang.active > .title > .default {
    visibility: visible;
  }

#cml-languages .lang > .title > .enabled {
  padding-left: 3px;
}

  #cml-box-available-languages .lang > .title > .enabled {
    display: none !important;
  }

#cml-languages .lang > .title > .name {
  cursor: move;
  width: 125px;
  height: 16px;
  max-width: 130px;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 10px;
}

  #cml-box-available-languages .lang > .title > .name {
    cursor: pointer;
    width: 185px;
    padding-right: 0;
    max-width: none;
  }

#cml-box-available-languages #cml-languages .lang > .title {
  cursor: default;
  background: #e5f1f5;
  border-bottom: 1px solid #eee;
  color: #393c3d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#cml-box-available-languages #cml-languages .lang:hover > .title,
#cml-box-available-languages #cml-languages.cml-custom-languages .lang > .title {
  background: #0074A2;
  color: #fff;
  border-bottom: 1px solid #000080;
}
#cml-box-available-languages #cml-languages.cml-custom-languages .lang > .title {
  cursor: default;
}

#cml-box-available-languages #cml-languages .lang.disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#cml-box-available-languages #cml-languages .lang.disabled,
#cml-box-available-languages #cml-languages .lang.disabled .flag {
  cursor: default !important;
  opacity: 0.3;
}

#cml-box-available-languages #cml-languages.cml-custom-languages .lang > .title > .flag {
  display: none;
}

/* advanced */
.cml-wrap .advanced {
  background: #fff;
  cursor: default !important;
  display: block !important;
  /*height: 0px;*/
  /*opacity: 0;*/
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cml-wrap .advanced > form > dl {
  margin-top: 5px;
  color: #4c4c4c;
  padding: 5px;
  margin: 0;
}

.cml-wrap .advanced > form > dl > dd,
.cml-wrap .advanced > form > dl > dt {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.cml-wrap .advanced > form > dl > dd {
  margin: 0;
  padding-right: 10px;
  width: 80px;
  height: 30px;
}

  .cml-wrap .advanced > form > dl > dt {
    width: 130px;
    max-width: 130px;
    height: 30px; max-height: 30px;
    line-height: 30px;
    overflow: hidden;
  }

  .cml-wrap .advanced > form > dl > dt span.date-format {
    position: absolute;
    max-height: 30px;
    overflow: hidden;
    width: 120px;
    text-align: right;
  }
  .cml-wrap .advanced > form > dl > dt input[type="checkbox"] {
    margin-top: 0px;
  }
  .cml-wrap .advanced > form > dl > dt input[type="text"] {
    /*max-width: 80px;*/
    width: 98%;
  }
  .cml-wrap .advanced > form > dl > dt input.hidden {
    display: none;
  }

#cml-languages .lang > p.submit {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
  max-width: none;
  margin: 0;
  height: 27px;
  width: 215px;
  position: relative;
  line-height: 27px;
}
  #cml-box-available-languages p.submit {
    display: none;
  }

  #cml-languages .lang > p.submit #more {
    position: absolute;
    right: 5px;
    top: 3px;
  }

  #cml-languages .lang > p.submit.show-advanced #more {
    display: none;
  }

  .lang p.submit > span.remove {
    padding-top: 5px;
    cursor: pointer;
  }

  .lang p.submit > #submit {
    display: none;
  }
  .lang p.submit > span.spinner {
    display: none;
    opacity: 0;
  }

/* ADVANCE MODE */
  #cml-box-available-languages dl {
    display: none !important;
  }

  .advanced.show-basic dl {
    height: 0px;
    display: none;
  }

    #cml-box-languages .lang > p.submit.show-basic #more {
      display: block !important;
    }

  #cml-box-languages .advanced.show-intermediate dl {
    height: 70px;
  }

    #cml-box-languages .lang > p.submit.show-intermediate #more {
      display: block !important;
    }

  #cml-box-languages .advanced.show-advanced dl {
    height: auto !important;
    display: block !important;
  }

#cml-languages .item-languages {
  cursor: pointer;
}

#cml-languages .advanced.show-advanced .flags {
  display: block;
  amin-height: 100px;
}

#cml-languages .flags > img {
  display: inline-block;
  vertical-align: top;
  padding:  5px;
}

#cml-languages .advanced ul.flags {
  /*cursor: default !important;*/
  background: #333;
  box-shadow: inset 0 0 6px rgba( 0, 0, 0, 0.6 );
  padding: 5px;
  display: none;
}

#cml-languages ul.flags li {
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #333;
  height: 20px;
  line-height: 20px;
  margin: 0;
}

  #cml-languages ul.flags li.active {
   background: #555;
   border:1px solid #888;
  }

  #cml-languages ul.flags li:hover {
    border:1px solid #4FBEFF;
  }
  #cml-languages ul.flags li > img {
    vertical-align: top;
  }

  #cml-languages ul.flags li:hover {
    background: #4185F2;
  }

.lang .upload-field {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0;
  position: absolute;
}


.cml-custom-languages {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -98px;
  z-index: 99999;
  display: none;
}

#cml-box-available-languages .cml-custom-languages dl {
display: block !important;
}

#cml-box-available-languages .cml-custom-languages .flags {
display: none !important;
}

.cml-custom-languages .lang .advanced {
     height: 200px !important;
     opacity: 1 !important;
}

.cml-custom-languages .lang .advanced * {
  opacity: 1 !important;
  visibility: visible;
}

.cml-custom-languages .lang > p.submit {
  display: block !important;
}

.cml-custom-message {
  position: fixed;
  top: 400px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  left: 50%;
  margin-left: -200px;
  color: #fff;
  z-index: 99999;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  display: none;
}
.cml-box-shadow {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 0.6;
  display: none;
}

#cml-load-content {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}
.cml-error {
  box-shadow: 0 0 5px #f00 !important;
}
  dd.cml-error {
   color: #f00;
   box-shadow: none !important;
  }

  /* error tooltip */
  .lang .error-tooltip {
    background: #BF0000;
    position: absolute;
    display: none;
    color: #fff;
    top: -65px;
    left: 50%;
    margin-left: -75px;
    z-index: 999;
    width: 150px;
    height: 45px;
    line-height :20px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
    .lang.cml-error .error-tooltip {
      display: block;
    }
  .error-tooltip:after, .error-tooltip:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }

  .error-tooltip:after {
      border-color: rgba(191, 0, 0, 0);
      border-top-color: #BF0000;
      border-width: 8px;
      margin-left: -8px;
  }
  .error-tooltip:before {
      border-color: rgba(191, 0, 0, 0);
      border-top-color: #bf0000;
      border-width: 12px;
      margin-left: -12px;
  }

  #cml_donate_box .method {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  ul.cml-donate {
    line-height: 1.6em;
  }
  ul.cml-donate > li:before {
    content: '\00bb';
    margin-right: 10px;
    padding-left: 5px;
  }

    ul.cml-donate > li {
      margin-left: 1.2em;
      text-indent: -1.77em;
      padding-bottom: 10px;
    }
    ul.cml-donate > li a:hover {
      text-decoration: underline;
    }

    ul.cml-donate > li a {
      text-decoration: none;
    }

.cml-box-options .inside {
  margin: 0;
  padding: 0;
}

  .cml-box-options .inside #minor-publishing {
    padding: 0 10px 10px 30px;
  }


  .cml-options li {
    line-height: 25px;
  }

  .cml-options li i {
    color: #888;
  }
  .cml-options blockquote {
    margin-left: 22px;
  }

  .cml-options .cml-options {
    margin-top: 10px;
  }
  .cml-options li input[type="radio"] + .cml-options {
    pointer-events:none;
    opacity: 0.6;
    transition: all 0.2s ease;
  }
    .cml-options li input[type="radio"]:checked + .cml-options {
      pointer-events: auto;
      opacity: 1;
    }

    .cml-options li input[type="radio"] + .cml-options * {
      /*cursor: default !important;*/
    }

  .cml-description {
    color: #666;
    height: 0;
    padding: 0 10px 0 10px !important;
    overflow: hidden;
    transition: all 0.2s ease;
  }

    .cml-description.active {
      height: auto;
      padding: 10px !important;
    }

.cml-box-options .hndle > span {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 30px;
}

.cml-box-options .hndle > span > span.cml-icon {
   width: 40px;
   height: 35px;
   position: absolute;
   left: -12px;
   top: -8px;
   opacity: 0.7;
   transition: all 0.2s ease;
}

.cml-help {
   background: url(../images/help.png) center no-repeat;
   cursor: pointer;
   width: 40px;
   height: 35px;
   position: absolute;
   right: 18px;
   top: -8px;
   opacity: 0.7;
   transition: all 0.2s ease;
}

.cml-checkbox + * + .cml-help {
 height: 37px;
}

.cml-help:hover,
.cml-help.active {
  background-color: #e5f1f5;
  opacity: 1;
}

#ceceppaml-post-meta-box .cml-help {
  top: 0 !important;
  right: 0 !important;
}
.cml-bold {
  font-weight: bold;
}

.cml-dl-list dt:before {
  content: '\203A';
  color: #000080;
  padding: 0 10px 0 20px;
}
  .cml-dl-list dt {
    color: #666;
  }

  .cml-dl-list dt span,
  .cml-ul-list li i {
    font-style: italic;
    color: #888;
  }

  .cml-dl-list dd {
    color: #222;
  }

  .cml-dl-list dd div {
    margin-top: 5px;
    font-weight: bold;
    color: #6B3C38;
  }

  .cml-dl-list dd input[type="text"] {
    width: 90%;
  }

  .cml-inline {
    display: inline-block;
    vertical-align: top;
  }
  .cml-inline-1 {
    margin-right: 50px;
    min-width: 250px;
  }
  .cml-inline-2 {
    padding-top: 35px;
  }

  .cml-inline-2 .cml-options {
    padding-left: 20px;
  }

/* Options icons */
.cml-icon-redirect {
  background: url(../images/icon_redirect.png) center no-repeat;
}

.cml-icon-url {
  background: url(../images/icon_url.png) center no-repeat;
}

.cml-icon-categories {
  background: url(../images/icon_categories.png) center no-repeat;
}

.cml-icon-menu {
  background: url(../images/icon_menu.png) center no-repeat;
}

.cml-icon-notices {
  background: url(../images/icon_notices.png) center no-repeat;
}

.cml-icon-wplang {
  background: url(../images/icon_wplang.png) center no-repeat;
}

.cml-icon-filter {
  background: url(../images/icon_filter.png) center no-repeat;
}

.cml-icon-widgets {
  background: url(../images/icon_widgets.png) center no-repeat;
}

.cml-icon-search {
  background: url(../images/icon_search.png) center no-repeat;
}

.cml-icon-comments {
  background: url(../images/icon_comments.png) center no-repeat;
}

/*
 * Widgets page
 */
.widget-content .cml-widget-title {
  margin-bottom: 5px;
}
  .widget-content .cml-widget-title > * {
   display: inline-block;
  }

  .widget-content .cml-widget-title > input {
   width: 90%;
  }

.widget-control-actions .alignright {
  min-width: 160px;
}

.cml-widget-titles > p {
  border-top:1px solid #ddd;
  padding-top: 5px;
}

.cml-widget-conditional {
  border:1px solid #ddd;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.cml-widget-conditional-hide {
  display: none;
}

.cml-filter-widget {
  margin-top: -20px;
  margin-left: -5px;
}
  .cml-filter-widget .cml-checkbox {
    margin-left: 9px;
    background: #fff;
  }

/* Translations */
.cml-tablenav {
  float: right;
  margin-top: -52px;
  line-height: 30px;
}
  .tab-strings,
  .cml-tab-strings {
    padding-bottom: 0 !important;
  }

  .cml-tab-strings > .submit {
    float: right;
    margin: -7px 0;
  }

  .cml-tab-strings a span {
    color: #888;
    font-size: 70%;
    font-style: italic;
    padding-left: 10px;
  }

  .cml-tab-strings {
    background: #f1f1f5;
    border-top: 1px solid #F4F4F7;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    padding: 5px;
  }

  .cml-tab-strings #cml-lang > li a {
    border: none;
    background: transparent;
    color: #46464F;
    position: relative;
  }

  .cml-tab-strings #cml-lang > li a:after {
    content: '\25bc';
    position: absolute;
    right: 5px;
    transition: all 0.3s ease;
    font-size: 9px;
    color: #a9a9a9;
  }

  .cml-tab-strings #cml-lang > li {
    margin: auto;
  }

  .cml-tab-strings ul#cml-lang > li > ul {
    opacity: 0;
    transition: all 0.4s ease;
    background: #f1f2f5;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    border-top: 1px solid #f4f4f7;
    border-bottom: 1px solid #f4f4f7;
    border-left: 1px solid #EFEFF4;
    border-right: 1px solid #EFEFF4;
  }
  .cml-tab-strings #cml-lang > li:hover ul {
    opacity: 1;
  }

  .cml-tab-strings #cml-lang > li:hover a:after {
    color: #4e4e57;
    transform: rotate(180deg);
  }

  .cml-tab-strings .cml-combo-sel li li {
    padding: 5px;
    color: #727081;
    cursor: pointer;
  }

  .cml-tab-strings .cml-combo-sel li ul > li:nth-child(n+1) {
    border-top: 1px solid #f4f4f7;
    border-bottom: 1px solid #E7E7EC;
  }

  .cml-tab-strings .cml-combo-sel li li:hover {
    color: #4E4E57;
  }

  .cml-tab-strings .cml-left-items {
    float: left;
    margin-top: -6px;
    height: 34px;
    line-height: 34px;
  }

  .cml-tab-strings .cml-right-items {
    float: right;
    margin-top: -6px;
    height: 34px;
    line-height: 34px;
  }

  .cml-tab-strings .cml-right-items > * {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin: 0;
    height: 36px;
    border-left: 1px solid #f4f4f7;
    position: relative;
  }
  .cml-tab-strings .cml-right-items > *:after {
    content: '';
    display: block;
    width: 1px;
    height: 36px;
    border-right: 1px solid #E7E7EC;
    position: absolute;
    top: 0;
    right: -3px;
  }

  .cml-tab-strings .cml-right-items .empty {
    border-left: none;
  }
  .cml-tab-strings .cml-right-items #cml-save:after {
    display: none;
  }
  .cml-tab-strings .cml-right-items a {
    cursor: pointer;
  }

  .ceceppaml-theme-translations th:nth-child(n+2) {
    width: 50%;
  }

  h2 .textdomain img {
    padding-right: 5px;
  }

  h2 .textdomain .light {
    color: #e7e7e7;
  }

  img.not-available {
    opacity: 0.4;
  }

  .ceceppaml-theme-translations th.flag {
    text-align: center !important;
  }

  .ceceppaml-trans-fields {
    display: block;
    padding: 5px;
  }
  .ceceppaml-trans-fields img,
  .ceceppaml-trans-fields textarea,
  .ceceppaml-trans-fields input {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.8;
  }

  .ceceppaml-trans-fields input[type="text"],
  .ceceppaml-trans-fields textarea {
    width: 85%;
    margin-right: 10px;
  }

  .cml-fuzzy {
    display: inline-block;
  }

  .ceceppaml-theme-translations tr.row-domain:hover {
    background: #FFFFE5;
  }
  .ceceppaml-theme-translations tr.row-hidden {
    display: none;
  }

  .ceceppaml-theme-translations tr.row-open td:first-child {
    border-bottom: 0 !important;
  }

  li.cml-hidden {
   width: 0px;
   height: 0px;
   overflow: hidden;
  }

  h3.cml-form > * {
    font-weight: normal;
  }

  ul.cml-ul-inline li {
    display: inline-block;
    margin-left: 20px;
  }

.cml-custom-css {
 width: 97%;
}

.cml-inline-nomargin {
  padding-top: 0;
}

dl.site-title dd > span {
  display: inline-block;
  width: 100px;
}

dl.site-title dt {
margin-top: 20px;
}

dl.site-title dd {
margin-bottom: 10px;
}

.ceceppaml-translations-title .meta-box-sortables {
  display: inline-block;
  margin-right: 20px;
  width: 48%;
}

  .ceceppaml-translations-title dl dt {
    color: #898989;
    display: block;
  }

  .ceceppaml-translations-title dl dd > * {
    margin-top: 5px;
    margin-left: -30px;
  }

  .ceceppaml-translations-title  *[class*="cml-flag-"] {
    left: 0px !important;
    top: -6px !important;
  }

  .ceceppaml-translations-title .cml-submit-button {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
  }

/*
*/
.cml-dropdown-me  > li {
  background: #fff url(../images/down.png) center right no-repeat;
  border:1px solid #ccc;
  cursor: pointer;
  height: 26px;
  overflow: hidden;
}
  .cml-dropdown-me  > li > span {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 85%;
  }

  .cml-dropdown-me  > li > input {
    border: none;
    box-shadow: none !important;
    cursor: pointer;
    width: 85%;
  }

  .cml-dropdown-me  > li > .flag {
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -4px;
  }

  .cml-dropdown-me  > li > ul {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 999;
    background: #fafafa;
    border:1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 90%;
    display: none;
  }

  .cml-dropdown-me  li.no-hide {
    display: list-item !important;
  }

  .cml-dropdown-me  > li > ul > li {
    border-bottom: 1px solid #ccc;
    min-height: 24px;
    line-height: 20px;
    margin: 0;
    padding: 5px;
  }

  .cml-dropdown-me > li > ul > li:hover {
    background: #eee;
  }

  .cml-dropdown-me  > li > ul > li > img {
    margin-right: 10px;
  }

  .tablenav .cml-icon-wplang {
    display: inline-block;
    width: 165px;
    height: 28px;
  }

  .tablenav ul#cml-lang {
    position: absolute;
  }

  .cml-post-translations {
    position: relative;
  }

  .cml-post-translations > li .spinner {
    position: absolute;
    top: 2px;
    left: 1px;
  }

  .cml-post-translations > li > ul {
    width: 85%;
    display: inline-block;
  }

  .cml-post-translations > li > a {
    border-radius: 0px !important;
    margin-left: -1px !important;
  }

  .cml-button-search {
    margin-top: 2px !important;
  }

  .cml-button-add {
    background-image:  url(../images/add.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 35px;
    transition: all 0.4s ease;
  }

 .cml-button-edit {
    background-image:  url(../images/edit.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 35px;
    transition: all 0.4s ease;
  }

  .cml-button-add.disabled,
  .cml-button-edit.disabled {
    /*opacity: 0.6;*/
    pointer-events: none;
  }

  .cml-button-add + span,
  .cml-button-edit + span {
    left: auto !important;
    right: 7px;
  }

  .ceceppa-form-translations .spinner {
    float: left !important;
  }

  .ceceppa-form-translations .tablenav.top {
    display: none;
  }

tr.row-open,
tr.row-open + tr {
  background: #DBEAFF !important;
}

li.cml-inline-1,
li.cml-inline-2 {
  display: inline-block;
  vertical-align: top;
  padding-top: 0 !important;
}

div.cml-ex-indent {
  margin: 20px 0 0 20px;
}

.cml-about-me img {
 box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
 border-radius: 64px;
 display: inline-block;
 vertical-align: top;
}

.cml-about-me > span {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 66%;
  margin: 2px 5px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.cml-about-me ul.social-buttons {
  list-style: none;
  height: 32px;
  text-align: center;
}

.cml-about-me ul.social-buttons li {
  border:1px solid #777;
  display: inline-block;
  padding: 0 !important;
  margin: 0 0px !important;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.cml-about-me ul.social-buttons li:hover {
  border:1px solid #333;
  box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.7);
  -webkit-transition: border 0.4s, opacity 0.4s;
  -moz-transition: border 0.4s, opacity 0.4s;
  transition: border 0.4s, opacity 0.4s;
  opacity: 1.0;
}
.cml-about-me ul.social-buttons li a {
  display: block;
  height: 24px;
  width: 24px;
}

.cml-about-me .link-twitter {
  background: #00acee;
}

  .cml-about-me .link-twitter a {
    background: url(../images/social/twitter.png) center no-repeat;
  }

.cml-about-me .link-linkedin {
  background: #0e76a8;
}

  .cml-about-me .link-linkedin a {
    background: url(../images/social/linkedin.png) center no-repeat;
  }

.cml-about-me .link-gplus {
  background: #dd4b39;;
}

  .cml-about-me .link-gplus a {
    background: url(../images/social/gplus.png) center no-repeat;
  }

.cml-about-me .link-blog {
  background: #d54e21;
}

  .cml-about-me .link-blog a {
    background: transparent url(../images/social/blog.png) center no-repeat;
  }

/*
 * wizard
 */
#cml-wizard {
  border: 1px solid #cccbc3;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
  margin: 20px 0 0 0;
  width: 98%;
}

#cml-wizard > .steps {
  background: #ddd;
  border-bottom:  1px solid #CCCBC3;
  text-align: center;
}

#cml-wizard > .steps > span {
  color: #eee;
  display: inline-block;
  font-weight: bold;
  border-left: 1px solid #cccbc3;
  width: 33%;
  max-width: 33%;
}

#cml-wizard > .steps > span:first-child {
  border-left: none;
}

.steps > span > .number {
   display: inline-block;
   font-size: 20px;
   border:2px solid #f0f0f0;
   border-radius: 24px;
   line-height: 24px;
   width: 24px;
   height: 24px;
   margin: 10px 5px 10px 0;
}

.steps > span > .title {
  color: #bbb;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  text-decoration: none;
}

  .steps > span > .title:hover {
    color: #888;
    text-decoration: underline;
  }

.steps > .active {
  background: #fff;
}
.steps > .active > * {
   color: #555 !important;
   border-color: #555 !important;
}

  .steps > .done > .number {
     color: #82CE34;
     border-color: #82CE34 !important;
  }
  .steps > .done > .title {
    color: #aaa !important;
  }

#cml-wizard > .content {
  background: #fff;
  display: block;
  padding: 10px;
  padding-bottom: 50px;
  position: relative;
}

#cml-wizard > .content .logo-big:before {
  content: url(../images/logo-big.png);
  display: inline-block;
  vertical-align: top;
}

  #cml-wizard > .content .logo-big {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  #cml-wizard > .content .cml-left {
    display: inline-block;
    vertical-align: top;
  }

  #cml-wizard > .content .cml-left > h3 {
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
  }


  #cml-wizard > .content .hidden {
    display: none;
  }

ul#cml-lang > li > ul {
  margin-top: -4px !important;
}

.cml-uninstall {
color: #f00;
}

.cml-skip {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top: 15px !important;
}

.cml-done {
  text-decoration: line-through;
}

.cml-hidden {
 display: none !important;
}

.cml-post-help {
  right: 5px !important;
  border-radius: 20px;
  width: 35px !important;
}

th#cml_flags.cml-zoomed {
 background: #fff;
}

th#cml_flags.cml-zoomed a {
 opacity: 1 !important;
}

.cml-select-menu {
  margin: 10px;
}

.cml-updated {
  position: relative;
  min-height: 90px;
}

.cml-updated p.submit {
  margin-top: 30px;
}

.cml-updated .cml-help {
  right: 0;
  top: 0px;
}

.cml-wp-updated {
  border-left: 4px solid #7ad03a;
  padding: 1px 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 20px;
}

.cml-dismiss {
  text-align: right;
  width:100%;
  margin-top: 20px;
}

#wpadminbar .cml-default {
  opacity: 0.6;
  font-size: 80%;
  padding-left: 10px;
}

iframe.cml-iframe {
  border: 1px solid #ddd;
}

.cml-valign-bottom {
  vertical-align: bottom !important;
}

.cml-tab-wrapper {
   margin: 0 !important;
   padding-bottom: 0 !important;
}


.manage-column.column-group {
  width: 120px;
}

  .cml-myt-flag img {
    opacity: 0.6;
  }

.manage-column.column-remove {
  width: 20px;
  cursor: pointer;
}

form.ceceppa-form-translations table tbody tr:hover td {
  background: #FFFFEB;
}

select.cml_linked_post {
  max-width: 230px;
}

ul.cml-dropdown-me ul li > span {
  display: inline-block;
  vertical-align: middle;
}
ul.cml-dropdown-me ul li > span.title {
  width: 89%;
  padding-left: 10px;
}

ul.cml-dropdown-me ul .img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 14px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  opacity: 0.5;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;;
}

  ul.cml-dropdown-me ul img {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 0;
  }

.cml-quickedit-none {
  opacity: 0.7;
  transition: all 0.2s ease;
}

  .cml-quickedit-none:hover {
    opacity: 1;
  }

/* Tags */
ul.cml-tagslist > li {
   display: inline-block;
   padding: 10px;
}

ul.cml-tagslist .button-mini {
  height: 20px !important;
  width: 10px !important;
  position: absolute;
  transition: all 0.2s ease;
  opacity: 0.3;
  margin-left: 2px;
}
ul.cml-tagslist .button-mini img {
  height: 10px;
  position: relative;
  top: -4px;
  left: -4px;
}
  ul.cml-tagslist li:hover .button-mini {
    opacity: 1;
  }

  ul.cml-tagslist .title {
    display: inline-block;
    margin-right: 0;
    padding-left: 5px;
  }

ul.cml-tagslist .button-mini.button-confirm {
  height: 28px !important;
}

ul.cml-tagslist .button-mini.button-confirm img {
  top: 0;
  left: -6px;
}

/* */
.compat-attachment-fields {
  width: 100%;
}

*[class*="-cml-media-"] td {
  width: 80%;
}

*[class*="-cml-media-"] textarea,
*[class*="-cml-media-"] input {
  width: 100%;
}

/* Addons */
.cml-addons .cml-addon {
   border-left:4px solid #dd3d36;
   box-shadow: 1px 1px 3px rgba( 0, 0, 0, 0.15 );
   padding: 0 10px;
   margin-bottom: 30px;
}
  .cml-addons .cml-addon.active {
       border-left:4px solid #7AD03A;
   }

.cml-addons .cml-addon:last-child {
  margin-bottom: 0;
}

.cml-addons .cml-addon .name {
  font-size: 120%;
  font-weight: bold;
  padding: 10px 10px 10px 0;
}


.cml-addons .cml-addon .description {
  color: #444;
}

.cml-addons .cml-addon .links {
  text-align: right;
  padding: 10px;
}


.cml-addons .cml-addon .links span {
  color: #aaa;
  padding: 10px;
}

.cml-addons .cml-addon .links a {
  text-decoration: none;
}

.cml-addons .cml-addon .links a:hover {
  text-decoration: underline;
}


.cml-dropdown-me .title.current {
  font-style:italic;
}

.cml-dropdown-me .title + .current {
  color: #aaa;
  font-style:italic;
  font-weight: bold;
  text-align: right;
  display: block;
  width: 100%;
}

/*.media-frame-content .attachments-browser table tr[class*="cml-media-alternative"] {
  display: none;
}
*/
.cml-titlewrap {
  position: relative;
  margin: 10px 0 0 30px;
}

.cml-titlewrap > img {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -6px;
}

.cml-title {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0;
  background-color: #fff;
}

form#post table.compat-attachment-fields tr[class*="compat-field-cml-media-title"] {
  display: none;
}


.search {
  background: #e4e4e4;
  float: right;
  padding: 5px;
  height: 29px;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* Override show flags settings */
.cml-override-flags {
  background: #60A2FF;
  color: #fff;
  line-height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cml-override-flags > label {
  display: inline-block;
  width: 32%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cml-override-flags > label > span {
  display: block;
  padding: 7px 5px 8px;
  transition: all 0.3s ease;
  position: relative;
  /*height: 100%;*/
}

.cml-override-flags > label:hover > input + span {
  background: #BFD9FF;
  color: #333;
}


.cml-override-flags > label > input {
  display: none;
}

.cml-override-flags > label > input:checked + span {
  background: #0066FF;
  color: #fff;
}


.cml-override-flags > label > input:checked + span:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #DFEDFF transparent;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -5px;
  z-index: 9;
}

.cml-show-always {
  background: #DFEDFF;
  border:1px solid #BFD9FF;
  border-top: none;
  padding: 10px;
}

.cml-flag-size {
  width: 50%;
}

.cml-flag-size > label {
  width: 48%;
}

.cml-flag-size > label > span {
  height: 24px;
}

.cml-show-always {
  background: #DFEDFF;
  border:1px solid #BFD9FF;
  border-top: none;
  padding: 10px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.cml-show-always.always {
  height: 125px;
  visibility: visible;
  opacity: 1;
}

.cml-show-always .cml-override-flags {
  background: #CFE3FF;
  border: 1px solid #A9CDFF;
}

.cml-flag-size {
  width: 50%;
}

.cml-flag-size > label {
  width: 48%;
}

.cml-flag-size > label > span {
  height: 24px;
}

.cml-flag-where {
  text-align: center;
}

.cml-flag-where > label {
  width: 23.5%;
}

.cml-show-always > div > label:hover > input + span {
  background: #80B3FF;
}

table .cml_enable_filter {
  display: none;
}

.cml-notice p.submit {
    margin-bottom: 30px;
}

.cml-notice .title {
  font-weight: bold;
  display: block;
  padding-bottom: 1em;
}

.ceceppa-form-translations .column-date {
  width: 80%;
}

.ceceppa-form-translations .column-database {
  width: 40px;
}

.ceceppa-form-translations .column-delete {
  text-align: center;
}

.switch-me {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.switch-me:before {
  position: absolute;
  left: 0;
  width: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.switch-me:after {
  position: absolute;
  left: 20px;
  width: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.switch-me.restore-none:before {
  content: '-';
}

.switch-me.restore-none:after {
  content: '\2716';
  color: #BABDB6;
}

.switch-me.restore-yes:before {
  content: '\2714';
}

.switch-me.restore-yes:after {
  content: '\21F5';
  color: #008C00;
}

.switch-me.icon-delete:before {
  content: '\2219';
  color: #E8B7D7;
}

.switch-me.icon-delete:after {
  content: url('../images/icon-delete.png');
}

.switch-me:hover:before {
  left: -20px;
}

.switch-me:hover:after {
  left: 0;
}

.ceceppa-form-translations .hide-me {
  opacity: 0;
  transition: all 0.3s ease;
}

.ceceppa-form-translations .hide-me:hover {
  opacity: 1;
}

.mytranslations {
 }

.mytranslations th {
  background: #f1f1f5;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.04);
}

.ceceppaml-titlewrap {
  position: relative;
	margin: 10px 0 0 30px;
}

.ceceppaml-titlewrap > img {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -6px;
}

.ceceppaml-title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin: 0;
	background-color: #fff;
}

#ceceppaml-editor textarea {
	height: 495px !important;
}

h2.ceceppaml-nav-tab {
  padding-bottom: 0 !important;
  line-height: 26px !important;
}

	.ceceppaml-nav-tab > a {
	  padding: 0 4px 0 5px !important;
	  font-weight: normal !important;
	  cursor: pointer !important;
	}

	.ceceppaml-nav-tab .nav-tab-active {
	  background: #fff;
	  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.2 );
	}

.ceceppaml-nav-tab img {
  opacity: 0.5;
  padding-right: 5px;
}

.ceceppaml-editor-wrapper .mce-edit-area {
	height: 433px !important;
}

.cml-permalink {
  margin-left: 48px;
}

  .cml-permalink > strong img {
    padding-right: 5px;
    opacity: 0.6;
  }


.ceceppaml-spinner {
  float: none !important;
  margin: 0 !important;
}

.cml-yoast {
  position: relative;
  padding-left: 25px;
}

.cml-yoast img {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -6px;
}

.cml-publish-ul {
  margin-left: 33px;
}

#cml-box-quick-edit .inside.disabled .cml-checkbox {
  pointer-events: none;
  opacity: 0.6;
}

#cml-box-quick-edit .inside.disabled label {
  pointer-events: none;
  opacity: 0.6;
}

.cml-publish-title {
  font-weight: bold;
  border-top: 1px solid #eee;
  display: block;
  width: 100%;
  padding-top: 10px;
}

.cml-tab-strings .spinner.visible {
  visibility: visible;
}
