ul li#wp-admin-bar-cml_lang_sel img {
  vertical-align: middle !important;  
}

#cml-lang {
  display: inline-block;
  vertical-align: top;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  z-index: 99;
  width: 165px;
  line-height: 18px !important;
  list-style: none !important;
}

  #cml-lang > li {
    height: 30px;
    overflow: hidden;
    margin: 0;
  }
  
  #cml-lang > li:before {
    content: '' !important;
    display: none !important;
  }

  #cml-lang > li > a {
    background: #fff url(../images/down.png) center right no-repeat;
    border:1px solid #ccc;
  }
  
  #cml-lang > li a {
    border:1px solid #ccc;
    color: #444;
    display: inline-block;
    width: 149px;
    height: 18px;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
  }
  
  ul.cml-lang-sel:hover > li > ul {
    position: absolute;
    z-index: 999;
    list-style: none !important;
  }

    #cml-lang > li > ul {
      background: #fafafa;
      margin: 0 !important;
      padding: 0 !important;
      width: 160px;
    }
    
    #cml-lang > li > ul a {
      border-top: none;
    }
    
    #cml-lang > li > ul > li {
      margin: 0 !important;
      height: 28px;
      line-height: 18px;
    }

    #cml-lang > li > ul li:hover {
      background: #eee;
    }


    ul.cml-lang-sel.shadow > li > ul {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      width: 162px;
    }
    
    ul.orange > li > ul {
      background: #fff;
    }
    
    #cml-lang li.item-hidden {
      display: none !important;
    }

ul.cml_flags_on_title_before {
  display: inline-block;
}

  ul.cml_flags_on_title_after {
    float: right;
  }

ul.cml_flags,
ul.cml_widget_flag {
  list-style: none;
}
  ul.cml_flags > li:before,
  ul.cml_widget_flag > li:before {
    content: '';
  }
  
  ul.cml_flags > li,
  ul.cml_widget_flag > li {
    display: inline-block;
    margin: 5px;
  }
